---
import "../styles/global.css";
---


<div class=" flex gap-10 justify-center mt-20 mb-20 "> 
    <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-3">
    <a href="#">
        <img class="w-full h-100 object-cover size rounded-t-lg" src="./protetor.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white ">CyberSecurity</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Acompanhe os lançamentos e atualizações do mundo da segurança da informação</p>

        </a>
    </div>
</div>


<div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-3">
    <a href="#">
        <img class="w-full h-100 object-cover size rounded-t-lg" src="./ai.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white ">I.A</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Fique por dentro de tudo que esta acontecendo na industria das IAs</p>
        
    </div>
</div>


<div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-3">
    <a href="#">
        <img class=" w-full h-100 object-cover size rounded-t-lg" src="./devmaster.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white ">DevMaster</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Quais as ultimas descobertas no campo da magia pratica?</p>
        
    </div>
</div>
</div> 