---
import "../styles/global.css";
---


<div class=" flex gap-10 justify-center mt-20 "> 
    <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-3">
    <a href="#">
        <img class="w-full h-100 object-cover size rounded-t-lg" src="./protetor.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white ">O protetor</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Veja quais foram os ultimos rituais para se proteger em quanto navega pela dimenção dos codigos.</p>

        </a>
    </div>
</div>


<div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-3">
    <a href="#">
        <img class="w-full h-100 object-cover size rounded-t-lg" src="./ai.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white ">I.A</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Acompanhe as ultimas mensagens dos guias.</p>
        
    </div>
</div>


<div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 p-3">
    <a href="#">
        <img class=" w-full h-100 object-cover size rounded-t-lg" src="./devmaster.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white ">DevMaster</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Quais as ultimas descobertas no campo da magia pratica?</p>
        
    </div>
</div>
</div> 