---
import "../styles/global.css";
---


<div>
    
</div>

<div class=" items-center justify-center bg-slate-800 h-50 direction flex-col flex">
    <p class=" text-amber-200  font-extrabold  ">Invocado magicamente por</p>
    <p class=" text-amber-200  font-extrabold ">Polvolox </p>

</div>