---
import "../styles/global.css";
---
 
<div class=" text-amber-200 bg-slate-800 flex items-center justify-between ">
    
   <img class="m-5 size-20  bg-purple-300 rounded-full" src="./oraculo.png" alt="">
    <img class="w-25 ml-50 " src="/logo.png" alt="Logo">
    <ul class="flex space-x-5 mr-10   ">
        <li class="bg-purple-900 text-amber-200 hover:bg-purple-950 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"><a href="../baralho">Categorias</a></li>
        <li class="bg-purple-900 text-amber-200 hover:bg-purple-950 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"><a href="./ ">Home</a></li>
        <li class="bg-purple-900 text-amber-200 hover:bg-purple-950 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"><a href="#">Galeria</a></li>
    </ul>
</div>
